<div class="product">
  <h3 class="product__name">{{ .name }}</h3>
  <img class="product__image" src="{{ .image }}" alt="">
  <p class="product__description">{{ .description }}</p>
  <div class="product__button-container">
    <div class="product__price">${{ .price }}</div>
    <button type="button"
      class="snipcart-add-item buy-button"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-id="{{ .id }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}">
      Add to cart
    </button>
  </div>
</div>